# Validation Report

## Lowe's Staging
- **Total Artifacts**: 313
- **Processed**: 313
- **Artifacts with Issues**: 54
### Missing Property Counts
- **projectId**: 54
- **rawScan**: 37

## Lowe's Production
- **Total Artifacts**: 135
- **Processed**: 135
- **Artifacts with Issues**: 9
### Missing Property Counts
- **projectId**: 9

## Bond Production
- **Total Artifacts**: 1737
- **Processed**: 1737
- **Artifacts with Issues**: 433
### Missing Property Counts
- **arData**: 237
- **projectId**: 282
- **rawScan**: 61
- **video**: 101

## Bond Demo
- **Total Artifacts**: 346
- **Processed**: 346
- **Artifacts with Issues**: 26
### Missing Property Counts
- **projectId**: 26

