# Validation Report

| Environment       | Total Artifacts | Processed | Issues Found | Missing Properties                                   |
| :---------------- | :-------------- | :-------- | :----------- | :--------------------------------------------------- |
| Lowe's Staging    | 313             | 313       | 54           | projectId: 54, rawScan: 37                           |
| Lowe's Production | 135             | 135       | 9            | projectId: 9                                         |
| Bond Production   | 1737            | 1737      | 433          | arData: 237, projectId: 282, rawScan: 61, video: 101 |
| Bond Demo         | 346             | 346       | 26           | projectId: 26                                        |
