@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @page {
    size: A4;
    margin: 40px;
  }

  body {
    font-family: "Inter", sans-serif;
    color: #1f2937;
    margin: 0;
    padding: 40px;
    background: #fff;
  }
}
